gpx/v2/ors-gpx.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="email">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id"/>
          <xs:attribute type="xs:string" name="domain"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
        <xs:element ref="type"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="href"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="year" type="xs:string"/>
  <xs:element name="license" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="email"/>
        <xs:element ref="link"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyright">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="year"/>
        <xs:element ref="license"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="author"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="time" type="xs:dateTime"/>
  <xs:element name="bounds">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:float" name="minlat" use="optional"/>
          <xs:attribute type="xs:float" name="minlon" use="optional"/>
          <xs:attribute type="xs:float" name="maxlat" use="optional"/>
          <xs:attribute type="xs:float" name="maxlon" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="distance" type="xs:float"/>
  <xs:element name="duration" type="xs:float"/>
  <xs:element name="step" type="xs:byte"/>
  <xs:element name="ele" type="xs:float"/>
  <xs:element name="extensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="distance" minOccurs="0"/>
        <xs:element ref="duration" minOccurs="0"/>
        <xs:element ref="type" minOccurs="0"/>
        <xs:element ref="step" minOccurs="0"/>
        <xs:element ref="distanceActual" minOccurs="0"/>
        <xs:element ref="ascent" minOccurs="0"/>
        <xs:element ref="descent" minOccurs="0"/>
        <xs:element ref="avgSpeed" minOccurs="0"/>
        <xs:element ref="bounds" minOccurs="0"/>
        <xs:element ref="attribution" minOccurs="0"/>
        <xs:element ref="engine" minOccurs="0"/>
        <xs:element ref="build_date" minOccurs="0"/>
        <xs:element ref="profile" minOccurs="0"/>
        <xs:element ref="preference" minOccurs="0"/>
        <xs:element ref="language" minOccurs="0"/>
        <xs:element ref="distance-units" minOccurs="0"/>
        <xs:element ref="instructions" minOccurs="0"/>
        <xs:element ref="elevation" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distanceActual" type="xs:float"/>
  <xs:element name="ascent" type="xs:float"/>
  <xs:element name="descent" type="xs:float"/>
  <xs:element name="avgSpeed" type="xs:float"/>
  <xs:element name="rtept">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ele"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="extensions"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="lat" use="optional"/>
      <xs:attribute type="xs:float" name="lon" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribution" type="xs:string"/>
  <xs:element name="engine" type="xs:string"/>
  <xs:element name="build_date" type="xs:dateTime"/>
  <xs:element name="profile" type="xs:string"/>
  <xs:element name="preference" type="xs:string"/>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="distance-units" type="xs:string"/>
  <xs:element name="instructions" type="xs:string"/>
  <xs:element name="elevation" type="xs:string"/>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="author"/>
        <xs:element ref="copyright"/>
        <xs:element ref="time"/>
        <xs:element ref="bounds"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rte">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rtept" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="extensions"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gpx">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
        <xs:element ref="rte"/>
        <xs:element ref="extensions"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="creator"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
